# Libraries

In [2]:
import pandas as pd
import pyodbc
import os
from datetime import datetime
from openpyxl import load_workbook
import shutil
import jupyternotify
ip = get_ipython()
ip.register_magics(jupyternotify.JupyterNotifyMagics)

# Parameters

In [3]:
year = 2021
week = 27

# La ruta donde está la raw data
path_raw_data = r'C:\Users\jshernandezm\genommalabinternacional\Cristian Javier Sanchez Yepez - NoB2B\Copservir\Copservir Faltante\{0}\S {1}\{0}_{1}.xlsx'
path_raw_data = path_raw_data.format(year, str(week).zfill(2))

# La ruta donde guardaré el layout No B2B de ISV
path_isv = '../../../../../../../02Paises/Colombia/Copservir/'

# Import Data

In [5]:
%%time
# Importación de la data semanal correspondiente
df_sem = pd.read_excel(path_raw_data.format(year, str(week).zfill(2)))

# Importación de la maestra de locales
#df_pos = pd.read_excel(path_isv + 'Maestra Locales Copservir.xlsx')

#df_prices = pd.read_excel(path + 'Maestra Precios Copservir.xlsx')

Wall time: 22 s

# Connection to DWH

In [8]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=SFEDWH01;'
                     'Trusted_Connection=yes;')

qday = '''SELECT SemFin FROM Gnm_MasterOp.dbo.CatSemanas WHERE SemAnio = {0} AND SemNumero = {1};'''

In [9]:
dday = pd.read_sql(qday.format(year, week), conn)

# Clean Data & Merge

Se crea un tabla dinámica y un par de columnas, además se renombran algunas columnas.

In [11]:
df = df_sem.pivot_table(
    index = ['codHoml', 'Código producto'], 
    values = ['Cantidad Saldo', 'so'], 
    aggfunc = 'sum'
).reset_index()

df['Fecha_Venta'] = dday.loc[0, 'SemFin']
df['Cadena'] = 'Copservir'

df.rename({
    'codHoml':'cod', 
    'Código producto':'Cod_Hom',
    'Cantidad Saldo':'Inv',
    'PDV':'cod'}, 
    axis=1, inplace=True)

In [14]:
df['cod'].value_counts()

BOG    144
BAR    144
BUC    144
CAL    144
3H5    120
      ...
5M6     52
929     51
5L6     49
947     44
5N1     44
Name: cod, Length: 957, dtype: int64

In [7]:
def unique_values(df):
    data = df.copy()
    vals_duplic = data['cod'].value_counts()[data['cod'].value_counts() > 1].index.tolist()
    data_unique_values = data[~data['cod'].isin(vals_duplic)].copy()
    for v in vals_duplic:
        data_unique_values = pd.concat([data_unique_values, data[data['cod'] == v][:1]], axis=0)
    data_unique_values.reset_index(drop=True, inplace=True)
    return data_unique_values

In [8]:
data_pos = unique_values(df_pos)

In [9]:
df[:2]

   cod  Cod_Hom  Inv   so Fecha_Venta     Cadena
0  101    15706  2.0  0.0  2021-07-04  Copservir
1  101    27543  1.0  0.0  2021-07-04  Copservir

In [10]:
# Cruzamos ambas maestras con los datos de SO y Stock
final = pd.merge(pd.merge(df, data_pos, on='cod', how='left'), df_prices, on='Cod_Hom', how='left')
df.shape[0] == final.shape[0]

True

In [11]:
# Agregamos el Monto de las Ventas
final['Costo_SO'] = final['so']*final['Precio']

# Agregamos el Monto del Stock
final['Costo_Stock'] = final['Inv']*final['Precio']

In [12]:
# Creamos 2 dfs para guardar los datos necesarios

SO = final[['Fecha_Venta', 'Cadena', 'Cod_Prod', 'EAN', 'Descripcion', 'cod', 'NOMBRE PDV', 'so', 'Costo_SO']].copy()

Stock = final[['Fecha_Venta', 'Cadena', 'Cod_Prod', 'EAN', 'Descripcion', 'cod', 'NOMBRE PDV', 'Inv', 'Costo_Stock']].copy()

In [13]:
SO.isnull().sum()

Fecha_Venta    0
Cadena         0
Cod_Prod       0
EAN            0
Descripcion    0
cod            0
NOMBRE PDV     0
so             0
Costo_SO       0
dtype: int64

In [14]:
final['Cod_Hom'][final['Cod_Prod'].isnull()].unique()

array([], dtype=int64)

In [15]:
final['cod'][final['NOMBRE PDV'].isnull()].unique()

array([], dtype=object)

In [16]:
final[final['Cod_Prod'].isnull()]

Empty DataFrame
Columns: [cod, Cod_Hom, Inv, so, Fecha_Venta, Cadena, NOMBRE PDV, Cod_Prod, EAN, Descripcion, Precio, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Costo_SO, Costo_Stock]
Index: []

In [17]:
SO['so'].sum()

8804.880208328

In [18]:
Stock['Inv'].sum()

202763.6999

In [19]:
Stock.isnull().sum()

Fecha_Venta    0
Cadena         0
Cod_Prod       0
EAN            0
Descripcion    0
cod            0
NOMBRE PDV     0
Inv            0
Costo_Stock    0
dtype: int64

# Export data

def write_layout(filename, df, sellout=True):
    writer = pd.ExcelWriter(filename, engine='openpyxl', mode='a')
    writer.book = load_workbook(filename)
    writer.sheets = {ws.title:ws for ws in writer.book.worksheets}
    if sellout == True:
        df.to_excel(writer, sheet_name='Ventas', startcol=1, startrow=18, index=False, header=None)
    else:
        df.to_excel(writer, sheet_name='Stock', startcol=1, startrow=18, index=False, header=None)
    writer.save()

In [ ]:
%%notify -m "¡Exportación lista!"
%%time
# Creamos un nuevo folder en donde agregamos el layout para exportar a ISV
path_export = '../../../../1Data/2Catalogue/toISV/2021/'
original = path_export + 'Formato No B2B Orig.xlsx'
new_folder = path_export + 'S' + week
try:
    os.mkdir(new_folder)
except:
    pass

# Exportamos los datos al layout de ISV
filename = 'Formato No B2B COPSERVIR Sem ' + str(week).zfill(2)
path_export = new_folder + '/' + filename +'.xlsx'
shutil.copy(original, path_export)
write_layout(path_export, SO, True)
write_layout(path_export, Stock, False)